.batchass {
    display: flex;
    flex-wrap: wrap;
  align-content: flex-start
  }

  body {
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  .nav>li>a {
    font-family: 'Orbitron', sans-serif;
  }
  section {
      /*padding-top: 90px;*/
      display: flex;
      align-content: center;
  }
  #carouselFade {
    width: 100vw;
    max-width: 100%;
    height: auto;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* Ensure carousel images fill width and scale height proportionally */
.carousel-inner img {
  width: 100vw;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}