extends layout

block content
  #GUI

block scripts
    script(src='/javascripts/underscore.js'           )
    script(src='/javascripts/three.js'                )
    script(src='/javascripts/stats.min.js'            )
    script(src='/javascripts/TrackballControls.js'    )
    script(src='/javascripts/ShaderLoader.js'         )
    script(src='/javascripts/UserAudio.js'            )
    script(src='/javascripts/Stream.js'               )
    script(src='/javascripts/AudioController.js'      )
    script(src='/javascripts/AudioTexture.js'         )
    script(src='/javascripts/PhysicsRenderer.js'      )
    script(src='/javascripts/ParticleUtils.js'        )
    script(src='/javascripts/dat.gui.min.js'          )
    script(src='/javascripts/OBJLoader.js'            )
    script(src='/javascripts/Loader.js'               )
    script(src='/javascripts/SubdivisionModifier.js'  )
    script(src='/javascripts/GEM.js'                  )
    script(src='/javascripts/GUI.js'                  )
    script(src='/javascripts/Arrangements.js'         )
    script(src='/javascripts/Text.js'                 )
    script(src='/javascripts/CurlMesh.js'             )
    script(src='/javascripts/N2.js'                   )
    script(src='/javascripts/PFML.js'                 )
